html{
    font-size: 12px;
    font-family:  'open Sans', sans-serif;
}
html{
    background-color: blueviolet;
}
body{
    width: 500px;
    margin: 0 auto;
    background-color: coral;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1{
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: blue;
    text-shadow: 3px 3px 1px black;
}
img{
    display: block;
    margin: 0 auto;
/*0 for top-bottom and auto for left-right*/
}
p, li{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}